*.tmproj
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/.DS_Store
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*.pyc
*/*/*/*/*/*/*/*/*/*.pyc
._*
*/._*
*/*/._*
*/*/*/._*
*/*/*/*/._*
*/*/*/*/*/._*
*/*/*/*/*/*/._*
*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/*/._*
*.egg-info
*/*.egg-info
*/*/*.egg-info
*/*/*/*.egg-info
*/*/*/*/*.egg-info
*/*/*/*/*/*.egg-info
*/*/*/*/*/*/*.egg-info
*/*/*/*/*/*/*/*.egg-info
*.egg
*/*.egg
*/*/*.egg
*/*/*/*.egg
*/*/*/*/*.egg
*/*/*/*/*/*.egg
*/*/*/*/*/*/*.egg
*/*/*/*/*/*/*/*.egg
*/build/
*/dist/
*/*/build/
*/*/dist/

